.classpath
.DS_Store
.gimp
.gradle
.idea
.metadata
.project
.settings
.vscode
*.iml
*.ipr
*.iws
*.jks
*.launch
*.log
*.tmp
*.xcf
/*.txt
/*.txt
/archive
/assets-src
/classes
/dev
/dist
/meta
/tmp
bin
build
desktop.ini
eclipse
forge*changelog.txt
out
run
signing.*
src/generated
src/main/java/archive
src/main/resources/assets/minecraft
tests
Thumbs.db
